
<footer class="fixed-bottom">
  <div class="container">
    <div class="row justify-content-between">
    
      <div class="contactfooter col-8 col-md-8 col-lg-6 d-none d-md-block">
        <div class="row footersub">
          <div class="tel">
            <a href="tel:+886223315247">
            <%= fa_icon "phone", text: "+886-2-2331-5247" %>
            </a>
          </div>
          <div class="emailfooter">
            <a href="mailto:admin@oh-my-wage.website">
              <%= fa_icon "envelope", text: "admin@oh-my-wage.website" %>
           </a>
          </div>
        </div>
        <div class="row address">
          <a href="https://ubin.io/TyZN7E">
            <%= fa_icon "map-marker", text: t('address') %>
          </a>
        </div>
      </div>
       
      <li class="dropdown d-flex col-12 col-md-3 col-lg-2">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= fa_icon "globe", text: t('language') %>
        </a>
        <ul class="dropdown-menu">       
          <li><%= link_to "繁體中文", :controller => controller_name, :action => action_name,        :locale => "zh-TW" %></li>
          <li><%= link_to "English", :controller => controller_name, :action => action_name,       :locale => "en" %></li>
          <li><%= link_to "日本語", :controller => controller_name, :action => action_name,      :locale       => "ja" %></li>
        </ul>
      </li>
    </div>
  </div>
</footer>
