<nav class="navbar navbar-expand-lg navbar-dark navitem">
  <%= link_to image_tag('nav_logo.png', size: "146x50", alt: "Edit Entry"), '/', class: 'navbar-brand text-light' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item p-2 active">
        <%= link_to about_path, class: 'nav-link text-light list-top' do %>
          <span>
            <i class="fas fa-info-circle"></i>
            關於我們
          </span>
        <% end %>
      </li>
      <li class="nav-item p-2 active">
        <%= link_to contact_path, class: 'nav-link text-light' do %>
          <span>
             <i class="fas fa-link"></i>
            聯絡我們
          </span>
        <% end %>
      </li>
      <li class="nav-item p-2 active">
        <%= link_to qa_path, class: 'nav-link text-light' do %>
          <span>
            <i class="fas fa-question-circle"></i>
            常見問題
          </span>
        <% end %>
      </li>
    </ul>
      
    <ul class="navbar-nav d-flex align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item p-2">
          <%= link_to edit_user_registration_path, class: 'nav-link  text-light' do %>
            <span>
              <i class="fas fa-user-edit"></i>
              個人資料
            </span>
          <% end %>
        </li>
        <li class="nav-item p-2">
          <%= link_to destroy_user_session_path, class: 'nav-link', method: 'delete' do %>
            <span>
              <i class="fas fa-sign-out-alt"></i>
              登出
            </span>
          <% end %>
        </li>
        <li class="nav-item p-2">
          <i class="fas fa-hourglass-half"></i>
          <span id="timecount">
            <span id='logout-timestamp' data-logout-time="<%= current_user.current_sign_in_at + 30.minutes %>"></span>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
