<nav class="navbar navbar-expand-lg navbar-dark navitem">
  <%= link_to image_tag('logo2all.png', size: "168x50", alt: "Edit Entry"), root_path, class: 'navbar-brand text-light' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "關於我們", about_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item active">
        <%= link_to "聯絡我們", contact_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item active">
        <%= link_to "Q & A", qa_path, class: 'nav-link text-light' %>
      </li>
    </ul>
      
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "個人資料", edit_user_registration_path, class: 'nav-link  text-light' %>
        </li>
          <li class="nav-item">
            <%= link_to "登出", destroy_user_session_path, class: 'nav-link', method: 'delete' %>
          </li>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
