<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-8">
       <%= f.input :number, label: t("user_id"), required: true, autofocus: true %>
      </div>
      <div class="col-4">
        <%= f.input :role, label: t("permission"), collection: { "管理者": "admin", "職員": "staff", "學生": "student" } %>
      </div>
      <div class="col-8">
        <%= f.input :name, label: t("user_name"), required: true %>
      </div>
      <div class="col-4">
        <%= f.input :gender, label: t("gender"), collection: { "男": "male", "女": "female" } %>
      </div>
      <div class="col-8">
        <%= f.input :email, input_html: { autocomplete: "email" }, required: true, placeholder: 'example@oh-my-wage.website' %>
      </div>
      <div class="col-4">
        <%= f.input :phone, label: t("phone"), input_html: { maxlength: 10 }, placeholder: '0987654321' %>
      </div>
      <div class="col-8">
        <%= f.input :password,
                    label: '新建密碼',
                    required: true,
                    hint: ("密碼最少須 #{@minimum_password_length} 碼以上" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="col-4">
        <%= f.input :password_confirmation,
                    label: '確認密碼',
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "註冊", class: 'btn btn-green btn-md' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
<br>
    <%= link_to "返回首頁", '/', class: 'btn btn-secondary btn-md' %>