<h1>歷史資料</h1>
<table class='table'>
  <thead>
    <td>日期</td>
    <td>工讀時數</td>
    <td>薪資</td>
    <td>合計</td>
  </thead>
  <tbody>
    <% @salary.each do |salary| %>
    <tr>
      <td><%= salary.date %></td>
      <td><%= salary.hourly_wage %> 元</td>
      <td><%= salary.hr %> 時</td>
      <td><%= salary.hourly_wage * salary.hr %> 元</td>
    <% end %>
  </tbody>
</table>

<%= link_to "上一頁", student_path, class: 'btn btn-primary btn-lg' %>