<% if @reply_to_issue.errors.any? %>
  <ul>
    <% @reply_to_issue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <h1 class="verticalspace">問題回報</h1>

  <div class="card col-lg-8 col-md-12 col-sm-12 center-block">
    <%= simple_form_for :reply_to_issue, url: problems_path do |form| %>
    <div class="card-title">
      <%= form.input :title, label: '標題：' %>
    </div>
    <div class="card-text">
      <%= form.input :content, label: '內容：' %>
    <%= form.button :submit, '送出', class: 'btn-blue btn-md' %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <%= link_to "上一頁", :back, class: 'btn btn-dark btn-md verticalspace' %>
  </div>
</div>