<div class="container">
  <h1 class="verticalspace">問題回報</h1>
  <div class="col-lg-8 mx-auto">
    <% if @reply_to_issue.errors.any? %>
      <ul>
        <% @reply_to_issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="card col-lg-8 col-md-12 col-sm-12 center-block">
    <%= simple_form_for :reply_to_issue, url: problems_path do |form| %>
    <div class="card-title">
      <%= form.input :title, label: '標題：' %>
    </div>
    <div class="card-text">
      <%= form.input :content, label: '內容：', as: :text %>
      <div class="d-flex justify-content-center">
        <div class="p-2">
          <%= link_to :back, class: 'btn btn-gray btn-md' do %>
            <p>
              <i class="fas fa-backward"></i>
              上一頁
            </p>
          <% end %>
        </div>
        <div class="p-2">
          <%= button_tag type: 'submit', class: "btn btn-blue btn-md my-button", id: "register-button" do %>
          <p>
            送出
            <i class="fas fa-paper-plane"></i>
          </p>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>