<h1 class="verticalspace">Hi, <%= current_user.name %> 您好</h1>
<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="card col-lg-4 col-md-12">
      <%= link_to staff_salaries_path, class:"hover-sec card-time text-decoration-none" do %>
        <%= image_tag("time_icon.png", alt: "Report Issue", class:"card-img-top") %>
        <div class="card-body">
          <h2 class="cart-title">工時登錄</h2>
          <p class="card-text">Wage Settlement</p>
        </div>
      <% end %>
    </div>

    <div class="card col-lg-4 col-md-12">
      <%= link_to staff_users_path, class:"hover-sec card-list text-decoration-none" do %>
        <%= image_tag("list_icon.png", alt: "Report Issue", class:"card-img-top") %>
        <div class="card-body">
          <h2 class="cart-title">其他學生</h2>
          <p class="card-text">Other Students</p>
        </div>
      <% end %>
    </div>

    <div class="card col-lg-4 col-md-12">
      <%= link_to new_problem_path, class:"hover-sec card-q text-decoration-none" do %>
        <%= image_tag("q_icon.png", alt: "Report Issue", class:"card-img-top") %>
        <div class="card-body">
          <h2 class="cart-title">問題回報</h2>
          <p class="card-text">Report Issue</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
=======
<%= link_to "工時登錄", staff_salaries_path, class: 'btn btn-blue btn-lg white-hover' %>
<%= link_to "其他學生", staff_users_path, class: 'btn btn-green btn-lg white-hover' %>
<%= link_to "問題反應", new_problem_path, class: 'btn btn-red btn-lg white-hover' %>
>>>>>>> develop
