<h1 class="verticalspace">學生名單</h1>

<%= form_tag(staff_users_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag "查詢", class: "btn btn-blue btn-md verticalspace"%>
<% end %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>學號</th>
      <th>姓名</th>
      <th>電話</th>
      <th>信箱</th>
      <th>加入</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.number %></td>
      <td><%= link_to student.name, staff_user_path(student.slug) %></td>
      <td><%= student.phone %></td>
      <td><%= student.email %></td>
      <td><%= link_to "＋", staff_user_path(student.slug), method: 'PUT', class: 'btn btn-add btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @students, theme: 'twitter-bootstrap-4' %>

<%= link_to "回主選單", staff_root_path, class: 'btn btn-dark btn-md' %>