<h1 class="verticalspace">學生名單</h1>

<%= form_tag(staff_users_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= button_tag type: 'submit', class: "btn btn-blue btn-md white-hover verticalspace" do %>
    <p>
      <i class="fas fa-search"></i>
      查詢
    </p>
  <% end %>
<% end %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>學號</th>
      <th>姓名</th>
      <th>電話</th>
      <th>信箱</th>
      <th>加入</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.number %></td>
      <td><%= link_to staff_user_path(student.slug) do %>
        <%= student.name %>
      <% end %>
      </td>
      <td><%= student.phone %></td>
      <td><%= student.email %></td>
      <td><%= link_to "＋", staff_user_path(student.slug), method: 'PUT', data: { confirm: "確定要把 #{student.name} 加入 #{@department.name} 嗎?" }, class: 'btn btn-red btn-sm white-hover spin' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <div class="p-2">
    <%= link_to staff_salaries_path, class: 'btn btn-gray btn-md' do %>
      <p>
        <i class="fas fa-fast-backward"></i>
        回工時登錄
      </p>
    <% end %>
  </div>
  <div class="p-2">
    <%= paginate @students, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
