<h1>學生總名單(已剔除同部門學生)</h1>

<%= link_to "回主選單", staff_root_path, class: 'btn btn-primary btn-xs' %>
<%= link_to "查詢", "#", class: 'btn btn-success btn-sm' %>

<%= paginate @students, theme: 'twitter-bootstrap-4' %>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>姓名</th>
      <th>學號</th>
      <th>電話</th>
      <th>信箱</th>
      <th>加入</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= link_to student.name, staff_user_path(student.id) %></td>
      <td><%= student.number %></td>
      <td><%= student.phone %></td>
      <td><%= student.email %></td>
      <td><%= link_to "加入", staff_user_path(student.id), method: 'PUT', class: 'btn btn-danger btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>