<table class="table col-lg-6 col-md-12 col-sm-12 verticalspace2 mx-auto">
  <tr>
    <th>學號</th>
    <td><%= @student.number %></td>
  </tr>
  <tr>
    <th>姓名</th>
    <td><%= @student.name %></td>
  </tr>
    <tr>
    <th>手機</th>
    <td><%= @student.phone %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @student.gender %></td>
  </tr>
  <tr>
    <th>信箱</th>
    <td><%= @student.email %></td>
  </tr>
</table>

<%= link_to :back, class: 'btn btn-gray btn-md' do %>
  <p>
    <i class="fas fa-backward"></i>
    上一頁
  </p>
<% end %>