<table class="table col-lg-12 col-md-12 col-sm-12 verticalspace2 mx-auto">
  <thead>
    <tr>
      <th>學號</th>
      <th>姓名</th>
      <th>手機</th>
      <th>性別</th>
      <th>信箱</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @student.number %></td>
      <td><%= @student.name %></td>
      <td><%= @student.phone %></td>
      <td><%= @student.gender %></td>
      <td><%= @student.email %></td>
    </tr>
  </tbody>
</table>

<%= link_to :back, class: 'btn btn-gray btn-md' do %>
  <p>
    <i class="fas fa-backward"></i>
    上一頁
  </p>
<% end %>