<h1 class="text-center mt-5"><%= @student.name %><%= t("sinfo")%></h1>
<ul class="user-profile col-lg-6">
    <li><%= t("user_stu_id")%></li>
      <p><%= @student.number %></p>
    <li><%= t("user_name")%></li>
      <p><%= @student.name %></p>
    <li><%= t("phone")%></li>
      <p><%= @student.phone %></p>
    <li><%= t("gender")%></li>
      <p><%= @student.gender_i18n %></p>
    <li><%= t("mail")%></li>
      <p><%= @student.email %></p>
</div>

<div class="text-center">
  <%= link_to staff_users_path, class: 'btn btn-gray btn-md mb-5' do %>
    <p>
      <%= t("back")%>
    </p>
  <% end %>
</div>