<h1>這是Views/user/底下的檔案</h1>

<% if user.errors.any? %>
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(user) do |form| %>
  <div class="box"></div>
    <%= form.input :number, label: '學號' %>
    <%= form.input :name, label: '姓名' %>
    <%= form.input :email, label: '信箱' %>
    <%= form.input :role, label: '權限' %>
    <%= form.input :phone, label: '手機' %>
    <%= form.input :gender, label: '性別' %>

  <%= form.button :submit, '修改', class: 'btn-success btn-xs' %>
<% end %>