<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body>
  <h1>魔法部</h1>
    <table class='table'>
      <thead>
        <tr>
           <th>name</th>
           <th>number</th>
           <th>phone</th>
           <th>gender</th>
        </tr>    
    </thead> 
    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.number %></td>
          <td><%= user.phone %></td>
          <td><%= user.gender %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
</body>
</html>