<h2>忘記密碼</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email ,label: 'E-mail',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: 'name@example.com' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "送出 SEND", class: 'btn btn-green btn-md ' %>
    <%= link_to "返回", user_session_path, class: 'btn btn-blue btn-md white-hover' %>
  </div>
<% end %>