<h2>忘記密碼</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email ,label: 'E-mail',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: 'example@oh-my-wage.website' } %>
  </div>

  <div class="form-actions">
    <%= button_tag type: 'submit', class: "btn btn-blue btn-md my-button", id: "register-button" do %>
      <p>
        <i class="fas fa-paper-plane"></i>
        送出
      </p>
    <% end %>
    <%= link_to :back, class: 'btn btn-gray btn-md' do %>
      <p>
        <i class="fas fa-backward"></i>
        上一頁
      </p>
    <% end %>
  </div>
<% end %>