
<body class="mybgimg aboutus fontstyle">
<div class="container">
<div class="row systemrow">
<div class="system col-12 col-lg-7">
    <div class="about">
        <div class="stu">
            <div class="stu-say p-2">
                <p><%= t("stu_say")%></p>
                <p>By <%= t("stu_name")%></p>
            </div>
        </div>
    </div>
    <div class='harry text-left'>
      <%= image_tag("harrypotter.png") %>
    </div>
    <div class="about">
        <div class="sta">
            <div class="staff-say p-2">
                <p><%= t("staff_say")%></p>
                <p>By <%= t("staff_name")%></p>
            </div>
        </div>
    </div>
    <div class='shinebu text-right'>
      <%= image_tag("Shinebu.png") %>
    </div>
    </div>

   <div class="col-12 col-lg-4 system2">
     <div class="system3">
     <p class="worry"><%= t("worry")%></p>
     <p><%= t("worry2")%></p>
     </div>
    </div>
</div>
</div>

</div>
<div class="center-block">
    <%= link_to '/', class: 'btn btn-gray btn-lg' do %>
        <p>
            <%= fa_icon "home", text: t('top_page') %>
        </p>
    <% end %>
</body>