<body class="mybgimg contactus fontstyle">
<img src="<%= asset_path('contactus.png') %>", class="infotitle">
<h1 class="zhtitle">聯絡我們</h1>
<div class="contentinfo">
    <ul>
        <li>成員</li>
            <div class="d-flex justify-content-center worker-int flex-column">
                <div class="p-2 d-flex worker-int">
                    <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                        <%= image_tag('river.png', class:'workerimg') %>
                    </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <a href="tel:+886977323970">
                        <p>
                            <i class="fas fa-phone-volume"></i>
                            0977-323-970
                        </p>
                    </a>
                    <a href="mailto:river@riverye.com">
                        <p class="email">
                            <i class="far fa-envelope"></i>
                            river@riverye.com
                        </p>
                    </a>
                </div>
            </div>
            <div class="p-2 d-flex worker-int">
                <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                    <%= image_tag('axel.png', class:'workerimg') %>
                </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <a href="tel:+886977134862">
                        <p>
                            <i class="fas fa-phone-volume"></i>
                            0977-134-862
                        </p>
                    </a>
                    <a href="mailto:axelchen0520@gmail.com">
                        <p class="email">
                            <i class="far fa-envelope"></i>
                            axelchen0520@gmail.com
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center flex-column">
            <div class="p-2 d-flex worker-int">
                <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                    <%= image_tag('joan.png', class:'workerimg') %>
                </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <a href="tel:+886952051288">
                        <p>
                            <i class="fas fa-phone-volume"></i>
                            0952-051-288
                        </p>
                    </a>
                    <a href="mailto:joanliao0525@joanliao.space">
                        <p class="email">
                            <i class="far fa-envelope"></i>
                            joanliao0525@joanliao.space
                        </p>
                    </a>
                </div>
            </div>
            <div class="p-2 d-flex worker-int">
                <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                    <%= image_tag('patrick.png', class:'workerimg') %>
                </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <a href="tel:+886223315247">
                        <p>
                            <i class="fas fa-phone-volume"></i>
                            0929-393-6907
                        </p>
                    </a>
                    <a href="mailto:kazupat0906@gmail.com">
                        <p class="email">
                            <i class="far fa-envelope"></i>
                            kazupat0906@gmail.com
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <li>TEL：</li>
            <a href="tel:+886223315247">
            <p>(02) 2331-5247</p>
            </a>
        <li>Email：</li>
            <a href="mailto:admin@oh-my-wage.website">
            <p>admin@oh-my-wage.website</p>
            </a>
        <li>Address：</li>
            <a href="https://ubin.io/TyZN7E">
            <p>5F., No. 7, Hengyang Rd., Zhongzheng Dist., Taipei City 100, Taiwan (R.O.C.)</p>
            </a>
            <div id="map" class="center-block"></div>
            <script>
            $(document).on('turbolinks:load', function() {
                var ohmywage = { lat: 25.042437, lng: 121.513723 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17.2,
                    center: ohmywage });

                var marker = new google.maps.Marker({
                    position: ohmywage,
                    map: map
                });
            });
            </script>
    </ul>
</div>
<div class="center-block">
<%= link_to "回到首頁", '/', class: 'btn btn-gray btn-lg' %>
</div>
</body>
