<body class="mybgimg contactus fontstyle">
<h1 class="zhtitle verticalspace">聯絡我們</h1>
<div class="contentinfo">
    <ul>
        <li>成員</li>
            <div class="d-flex justify-content-center worker-int flex-column">
                <div class="p-2 d-flex worker-int">
                    <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                        <%= image_tag('river.png', class:'workerimg') %>
                    </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <p class="text-warning">
                        葉政偉 River Ye
                    </p>
                    <p>
                        你必須很努力，才能看起來毫不費力。<br>
                        看似輕鬆的背後，有著看不盡的付出。
                    </p>
                    <p class="email">
                        <a href="mailto:river@riverye.com">
                            <%= fa_icon "envelope", text: "river@riverye.com" %>
                        </a>
                    </p>
                </div>
            </div>
            <div class="p-2 d-flex worker-int">
                <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                    <%= image_tag('axel.png', class:'workerimg') %>
                </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <p class="text-warning">
                        陳宥誠 Axel Chen
                    </p>
                    <p>
                        從不同的觀點思考，<br>
                        用好奇心探索世界！
                    </p>
                    <p class="email">
                        <a href="mailto:axelchen0520@gmail.com">
                        <%= fa_icon "envelope", text: "axelchen0520@gmail.com" %>
                        </a>
                    </p>                    
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center flex-column">
            <div class="p-2 d-flex worker-int">
                <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                    <%= image_tag('joan.png', class:'workerimg') %>
                </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <p class="text-warning">
                        廖友渝 Joan Liao
                    </p>
                    <p>
                        你不一定要變得很厲害，才能開始；<br>
                        你要開始，才能變得很厲害！
                    </p>
                    <p class="email">
                        <a href="mailto:joanliao0525@joanliao.space">
                        <%= fa_icon "envelope", text: "joanliao0525@joanliao.space" %>
                        </a>
                    </p>
                </div>
            </div>
            <div class="p-2 d-flex worker-int">
                <div class="p-2 col-lg-4 col-md-12 col-sm-12">
                    <%= image_tag('patrick.png', class:'workerimg') %>
                </div>
                <div class="p-2 worker-say col-lg-8 col-md-12 col-sm-12">
                    <p class="text-warning">
                        劉迦豪 Patrick Liu
                    </p>
                    <p>
                        渴求知識，喜歡探索，<br>
                        享受思考後發現新世界的興奮。
                    </P>
                    <p class="email">
                        <a href="mailto:kazupat0906@gmail.com">
                            <%= fa_icon "envelope", text: "kazupat0906@gmail.com" %>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="info">
            <p>
                <a href="tel:+886223315247">
                <%= fa_icon "phone", text: "+886-2-2331-5247" %>
                </a>
            </p>
            <p>
                <a href="mailto:admin@oh-my-wage.website">
                <%= fa_icon "envelope", text: "admin@oh-my-wage.website" %>
                </a>
            </p>
            <p>
                <a href="https://ubin.io/TyZN7E">
                <%= fa_icon "map-marker", text: t('address') %>
                </a>
            </p>
        </div>
        
            <div id="map" class="center-block col-lg-12 col-md-12 col-sm-12"></div>
            <script>
            $(document).on('turbolinks:load', function() {
                var ohmywage = { lat: 25.042437, lng: 121.513723 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17.2,
                    center: ohmywage });

                var marker = new google.maps.Marker({
                    position: ohmywage,
                    map: map
                });
            });
            </script>
    </ul>
</div>
<div class="center-block">
    <%= link_to '/', class: 'btn btn-gray btn-lg' do %>
        <p>
            <%= fa_icon "home", text: t('top_page') %>
        </p>
    <% end %>
</div>
</body>
