<body class="mybgimg contactus fontstyle">
<img src="<%= asset_path('contactus.png') %>", class="infotitle">
<h1 class="zhtitle">聯絡我們</h1>
<div class="contentinfo">
    <ul>
        <li>成員</li>
            <%= image_tag('user.png', class:'workerimg') %>
            <%= image_tag('user.png', class:'workerimg') %>
            <%= image_tag('user.png', class:'workerimg') %>
            <%= image_tag('user.png', class:'workerimg') %>
        <li>TEL：</li>
            <a href="tel:+886223315247">
            <p>(02) 2331-5247</p>
            </a>
        <li>Email：</li>
            <a href="mailto:admin@oh-my-wage.website">
            <p>admin@oh-my-wage.website</p>
            </a>
        <li>Address：</li>
            <a href="https://ubin.io/TyZN7E">
            <p>5F., No. 7, Hengyang Rd., Zhongzheng Dist., Taipei City 100, Taiwan (R.O.C.)</p>
            </a>
            <div id="map" class="center-block"></div>
            <script>
            $(document).on('turbolinks:load', function() {
                var ohmywage = { lat: 25.042437, lng: 121.513723 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17.2,
                    center: ohmywage });

                var marker = new google.maps.Marker({
                    position: ohmywage,
                    map: map
                });
            });
            </script>
    </ul>
</div>
<div class="center-block">
<%= link_to "回到首頁", '/', class: 'btn btn-dark btn-lg' %>
</div>
</body>
