<body class="mybgimg qa fontstyle">
    
<h1 class="zhtitle verticalspace"></h1>
  <div class="contentinfo">
   <div class="qa">
    <ul>
        <li class="q">
            <%= t("Q1")%>
        </li>
        <li class="a">
            <%= t("A1")%>
        </li>
        <li class="q">
            <%= t("Q2")%>
        </li>
        <li class="a">
            <%= t("A2")%>
        </li>
    </ul>
    </div>
</div>
<div class="center-block">
    <%= link_to '/', class: 'btn btn-gray btn-lg' do %>
        <p>
           <%= fa_icon "home", text: t('top_page') %>
        </p>
    <% end %>
</div>
</body>