<h1>歷史資料</h1>
<%= link_to "查詢", "#", class: 'btn btn-primary btn-lg' %>
<%= link_to "列印", "#", class: 'btn btn-success btn-lg' %>
<table class='table'>
  <thead>
    <td>日期</td>
    <td>學生</td>
    <td>工讀時數</td>
    <td>薪資</td>
  </thead>
  <tbody>
    <% @student.each do |student| %>
      <tr>
        <td><%= student.salaries.map { |x| x.date } %></td>
        <td><%= student.name %></td>
        <td><%= student.salaries.map { |x| x.hr }.sum %></td>
        <td><%= student.salaries.map { |x| x.hr * x.hourly_wage }.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "回主選單", teacher_path, class: 'btn btn-danger btn-lg' %>