<div class="container-fluid">
  <h1 class="text-center verticalspace" >Oh My Wage</h1>
  <h2 class="text-center verticalspace" >霍格華茲學院 － 工讀薪資系統</h2>
  <h2 class="text-center verticalspace" >開始使用：</h2>
  <div class="loginblock col-sm-12">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-actions row">
      <%= f.button :submit, "登入", class: 'btn btn-blue btn-md white-hover my-btn' %>
      <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
