<h1 class="verticalspace"><%= current_user.name %> 您的歷史薪資</h1>
<h2 class="verticalspace3"><%= Date.today.month %> 月時數與薪資試算</h2>

<%= form_tag(student_chart_path, method: :get) do %>
  <%= text_field_tag :search, "", placeholder: '請選擇月份', class: "datepicker", "data-provide" => "datepicker" %>
  <%= submit_tag "查詢", class: "btn btn-blue btn-md verticalspace"%>
<% end %>

<table class="table col-lg-6 col-md-9 col-sm-12">
  <tr>
    <th><%= t("hour_sum")%></th>
    <td><%= calculate_student_salary_hr %> 小時</td>
  </tr>
  <tr>
    <th><%= t("payment")%></th>
    <td><%= calculate_studen_salary_sum %> 元</td>
  </tr>
</table>

<%= line_chart Salary.where('user_id = ?', current_user.id).group_by_month(:date).select(:hr)%>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $('.datepicker').datepicker({
      language:'zh-TW',
      format: "yyyy-mm",
      viewMode: 'months',
      minViewMode: 'months',
      autoclose: true
    });    
  });
</script>
