<h1>歷史資料</h1>

<%= form_tag(student_history_path, method: :get) do %>
  <%= text_field_tag :search, "", placeholder: '請輸入日期', class: "datepicker", "data-provide" => "datepicker" %>
  <%= submit_tag "查詢", class: "btn btn-success btn-lg"%>
<% end %>
<%= paginate @student, theme: 'twitter-bootstrap-4' %>
<table class='table'>
  <thead>
    <td>日期</td>
    <td>工時</td>
    <td>時薪</td>
    <td>小計</td>
  </thead>
  <tbody>
    <% @student.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%Y-%m-%d") %></td>
      <td><%= salary.hr %> 時</td>
      <td><%= salary.hourly_wage %> 元</td>
      <td><%= salary.hourly_wage * salary.hr %> 元</td>
    </tr>
    <% end %>
    <tr>
      <td colspan='3'>總計</td>
      <td><%= @student.map{ |salary| salary.hourly_wage * salary.hr }.sum %> 元</td>
    </tr>
  </tbody>
</table>

<%= link_to "首頁", student_root_path, class: 'btn btn-primary btn-xs' %>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $('.datepicker').datepicker({
      language:'zh-TW',
      format: "yyyy-mm",
      viewMode: 'months',
      minViewMode: 'months',
      autoclose: true
    });    
  });
</script>