<h2 class="verticalspace3"><%= t("history")%></h2>

<%= form_tag(student_history_path, method: :get) do %>
  <%= text_field_tag :search, "", placeholder: '請選擇月份', class: "datepicker col-lg-3", "data-provide" => "datepicker" %>
  <%= button_tag type: 'submit', class: "btn btn-blue btn-md white-hover verticalspace mb-0" do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end %>

<table class='table'>
  <thead>
    <th><%= t("date")%></th>
    <th><%= t("hour")%></th>
    <th><%= t("hourly_wage")%></th>
    <th><%= t("payment")%></th>
  </thead>
  <tbody>
    <% @salary.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%Y-%m-%d") %></td>
      <td><%= salary.hr %></td>
      <td><%= salary.hourly_wage %></td>
      <td><%= money(salary) %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= t("total")%></td>
      <td><%= calculate_student_salary_hr %><%= t("hour_sum")%></td>
      <td></td>
      <td><%= calculate_studen_salary_sum %><%= t("dollars")%></td>
    </tr>
  </tbody>
</table>


<%= area_chart @salary_chart_by_day, ytitle: 'hr' %>

    <%= paginate @salary %>
    <%= link_to student_root_path, class: 'btn btn-gray btn-md' do %>
      <p>
        <i class="fas fa-fast-backward"></i>
        <%= t("back")%>
      </p>
    <% end %>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $('.datepicker').datepicker({
      language:'zh-TW',
      format: "yyyy-mm",
      viewMode: 'months',
      minViewMode: 'months',
      autoclose: true
    });    
  });
</script>