<h1 class="verticalspace"><%= t("welcome", name: @current_user.name) %></h1>
<h2 class="verticalspace"><%= Date.today.month %> 月時數與薪資試算</h2>

<table class='table col-lg-6 col-md-9 col-sm-12'>
  <thead>
    <th>日期</th>
    <th>工時</th>
    <th>時薪</th>
    <th>試算</th>
  </thead>
  <tbody>
    <% @salary.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%Y-%m-%d") %></td>
      <td><%= salary.hr %> 時</td>
      <td><%= salary.hourly_wage %> 元</td>
      <td><%= money(salary) %> 元</td>
    </tr>
    <% end %>
    <tr>
      <td>總計</td>
      <td><%= calculate_student_salary_hr %> 時</td>
      <td></td>
      <td><%= calculate_studen_salary_sum %> 元</td>
    </tr>
  </tbody>
</table>

<%= link_to student_history_path, class: 'btn btn-brown btn-md white-hover' do %>
  <p>
    <%= fa_icon "history" %>
    歷史查詢
  </p>
<% end %>
<%= link_to new_problem_path, class: 'btn btn-red btn-md white-hover' do %>
  <p>
    <i class="fas fa-hands-helping"></i>
    問題反應
  </p>
<% end %>
