<h1 class="verticalspace">Hi, <%= current_user.name %> 歡迎回來</h1>
<h2 class="verticalspace"><%= Date.today.month %> 月時數與薪資試算</h2>
<ul>
  <h2><li>總工時：<%= calculate_student_salary_hr %> 小時</li></h2>
  <h2><li>合計：<%= calculate_studen_salary_sum %> 元</li></h2>
</ul>

<%= link_to "歷史薪資查詢", student_history_path, class: 'btn btn-blue btn-md' %>
<%= link_to "問題反應", new_problem_path, class: 'btn btn-red btn-md' %>