<h1 class="verticalspace"><%= t("welcome", name: @current_user.name) %></h1>

<div class="container">
  <div class="row">
    <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= link_to student_history_path, class:"hover-sec card-history text-decoration-none" do %>
        <div class="card-body">
          <i class="fas fa-history"></i>
          <h3 class="card-title">歷史查詢</h3>
        </div>
      <% end %>
    </div>

    <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= link_to new_problem_path, class:"hover-sec card-q text-decoration-none" do %>
        <div class="card-body">
          <i class="far fa-question-circle big-btn"></i>
          <h3 class="card-title">問題反映</h3>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2 class="verticalspace"><%= Date.today.month %> 月時數與薪資試算</h2>

<table class='table col-lg-12 col-md-12 col-sm-12'>
  <thead>
    <th>日期</th>
    <th>工時</th>
    <th>時薪</th>
    <th>試算</th>
  </thead>
  <tbody>
    <% @salary.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%m/%d") %></td>
      <td><%= salary.hr %>時</td>
      <td><%= salary.hourly_wage %> 元</td>
      <td><%= money(salary) %> 元</td>
    </tr>
    <% end %>
    <tr>
      <td>總計</td>
      <td><%= calculate_student_salary_hr %> 時</td>
      <td></td>
      <td><%= calculate_studen_salary_sum %> 元</td>
    </tr>
  </tbody>
</table>

