<h4 class="verticalspace"><%= t("welcome", name: @current_user.name) %></h4>

<div class="container">
  <div class="row">
    <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= link_to student_history_path, class:"hover-sec card-history text-decoration-none" do %>
        <div class="card-body">
          <i class="fas fa-history"></i>
          <h4 class="card-title"><%= t("history")%></h4>
        </div>
      <% end %>
    </div>

    <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= link_to new_problem_path, class:"hover-sec card-q text-decoration-none" do %>
        <div class="card-body">
          <%= fa_icon "question-circle", class: "question-circle"%>
          <h4 class="card-title"><%= t("question")%> </h4>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2 class="verticalspace"><%= Date.today.year %> / <%= Date.today.month %>  <%= t("wage_slip")%></h2>

<table class='table col-lg-12 col-md-12 col-sm-12 stu-index'>
  <thead>
    <th class="date"><%= t("date")%></th>
    <th class="time"><%= t("hour")%></th>
    <th class="wage"><%= t("hourly_wage")%></th>
    <th class="pay"><%= t("payment")%></th>
  </thead>
  <tbody>
    <% @salary.each do |salary| %>
    <tr>
      <td class="date"><%= salary.date.strftime("%m/%d") %></td>
      <td class="time"><%= salary.hr %></td>
      <td class="wage"><%= salary.hourly_wage %></td>
      <td class="pay"><%= money(salary) %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= t("total")%></td>
      <td><%= calculate_student_salary_hr %><%= t("hour_sum")%></td>
      <td></td>
      <td><%= calculate_studen_salary_sum %><%= t("dollars")%></td>
    </tr>
  </tbody>
</table>

