<h1 class="verticalspace">Hi, 管理者 <%= current_user.name %> 您好</h1>
  <div class="row verticalspace">
    <%# <%= form_tag(admin_search_path, method: :get) do % >
    <%= text_field_tag :search % >
    <%= submit_tag "查詢", class: "btn btn-blue btn-md scale-hover white-hover"% >
    <% end % > %>

    <%= link_to "新增", new_admin_user_path, class: 'btn btn-green btn-md scale-hover white-hover' %>
  </div>

<table class="table table-borderless table-sm my-table">
  <thead>
    <tr>
      <th>角色</th>
      <th>編號</th>
      <th>姓名</th>
      <th>編輯</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.role %></td>
    <td><%= user.number %></td>
    <td><%= link_to user.name, admin_user_path(user.id) %></td>
    <td><%= link_to "編輯", edit_admin_user_path(user.id), class: 'btn edit-btn btn-sm scale-hover' %></td>
    <td><%= link_to "刪除",
            admin_user_path(user.id),
            method: 'delete',
            class: 'btn btn-red btn-sm scale-hover white-hover',
            data: {confirm: '確定嗎???'}
          %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
  <%= paginate @users, theme: 'twitter-bootstrap-4', class:"my-page" %>