<h2 class="verticalspace"><%= t("welcome", name: @current_user.name) %></h2>
<h2 class="row verticalspace3">使用者名單</h2>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <%= form_tag(admin_users_path, method: :get) do %>
      <%= text_field_tag :search %>
      <%= button_tag type: 'submit', class: "btn btn-blue btn-md white-hover verticalspace float-left" do %>
        <%= fa_icon "search" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <%= link_to new_admin_user_path, class: 'btn btn-green btn-md white-hover verticalspace float-right mr-0' do %>
      <p>
        <%= fa_icon "user-plus", text: t("add_user") %>
      </p>
    <% end %>
  </div>
</div>

<table class="table table-sm my-table" id="table">
  <thead>
    <tr>
      <th>角色</th>
      <th>編號</th>
      <th>姓名</th>
      <th>編輯</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.role %></td>
      <td><%= user.number %></td>
      <td><%= link_to admin_user_path(user.slug) do %>
        <%= user.name %>
      <% end %>
      </td>
      <td>
        <%= link_to edit_admin_user_path(user.slug), class: 'btn btn-org btn-sm' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
      <td>
        <%= link_to admin_user_path(user.slug), method: 'delete', class: 'btn btn-red btn-smwhite-hover', data: { confirm: "確定要把「#{user.name}」的資料刪除嗎???" } do %>
        <i class="fas fa-user-alt-slash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @users%>