<h1 class="verticalspace">資料建立表</h1>
<%= simple_form_for @user, url: admin_users_path do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
       <%= f.input :number, label: t("user_id"), required: true, autofocus: true %>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <%= f.input :role, label: t("permission"), collection: { "管理者": "管理者", "職員": "職員", "學生": "學生" } %>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 ">
        <%= f.input :name, label: t("user_name"), required: true %>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <%= f.input :gender, label: t("gender"), collection: { "男": "男", "女": "女" } %>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 ">
        <%= f.input :email, input_html: { autocomplete: "email" }, required: true, placeholder: 'example@oh-my-wage.website' %>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <%= f.input :phone, label: t("phone"), input_html: { maxlength: 10 }, placeholder: '0987654321' %>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <%= f.input :password, input_html: { value: '123123' } %>
      </div>
    </div>

    <%= link_to '/', class: 'btn btn-gray btn-md' do %>
      <p>
        <%= t("back") %>
      </p>
    <% end %>
    <%= button_tag type: 'submit', class: 'btn btn-green btn-md' do %>
      <p>
        <%= fa_icon "user-plus", text: t("add_user") %>
      </p>
    <% end %>
  </div>
<% end %>