<h2 class="verticalspace3 center-block mt-5"><%= @user.name %><%= t("sinfo")%> </h2>
<% if @user %>
<ul class="user-profile col-lg-6">
    <li><%= t("permission")%></li>
      <p><%= @user.role_i18n %></p>
    <li><%= t("user_id")%></li>
      <p><%= @user.number %></p>
    <li><%= t("user_name")%></li>
      <p><%= @user.name %></p>
    <li><%= t("apart")%></li>
      <p><%= user_department %></p>
    <li><%= t("phone")%></li>
      <p><%= @user.phone %></p>
    <li><%= t("gender")%></li>
      <p><%= @user.gender_i18n %></p>
    <li><%= t("mail")%></li>
      <p><%= @user.email %></p>
</div>
<% else %>
  <h1>沒有這個人</h1>
<% end %>
<div class="center-block">
  <%= link_to '/', class: 'btn btn-gray btn-md' do %>
    <p>
      <i class="fas fa-backward"></i>
      <%= t("back")%>
    </p>
  <% end %>
</div>