<h1 class="verticalspace center-block mt-5"><%= @user.name %>的個人資料</h1>
<% if @user %>
<ul class="user-profile col-lg-6">
    <li>權限：</li>
      <p><%= @user.role %></p>
    <li>編號：</li>
      <p><%= @user.number %></p>
    <li>姓名：</li>
      <p><%= @user.name %></p>
    <li>工作單位：</li>
      <p><%= user_department %></p>
    <li>手機：</li>
      <p><%= @user.phone %></p>
    <li>性別：</li>
      <p><%= @user.gender %></p>
    <li>信箱：</li>
      <p><%= @user.email %></p>
</div>
<% else %>
  <h1>沒有這個人</h1>
<% end %>
<div class="center-block">
  <%= link_to :back, class: 'btn btn-gray btn-md' do %>
    <p>
      <i class="fas fa-backward"></i>
      上一頁
    </p>
  <% end %>
</div>