<h4 class="verticalspace" >
<p>
  學號：<%= student.number %>
</p>
<p>
  姓名：<%= student.name %>
</p>
</h4>
<table class="table salary">
  <thead>
    <tr>
      <th class="date" scope="col">日期</th>
      <th class="time" scope="col">工時</th>
      <th class="wage" scope="col">時薪</th>
      <th class="delete" scope="col">刪除</th>
    </tr>
  </thead>
</table>
<%= simple_form_for student, url: staff_salary_path do |form| %>
  <%= form.simple_fields_for :salaries, url: staff_salary_path do |salary_form| %>
    <%= render 'salary_fields', f: salary_form %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "新增紀錄", form, :salaries, class: 'btn btn-md btn-green' %>
  </div>
  <hr>
  <%= link_to :back, class: 'btn btn-gray btn-md' do %>
    <p>
      <i class="fas fa-backward"></i>
      上一頁
    </p>
  <% end %>
  <%= form.button :submit, '儲存',class: 'btn btn-green btn-md' %>
<% end %>