<h3 class="verticalspace" >
<span>
  學號：<%= student.number %>
</span>
<span>
  姓名：<%= student.name %>
</span>
</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">日期</th>
      <th scope="col">工時</th>
      <th scope="col">時薪</th>
      <th scope="col">刪除</th>
    </tr>
  </thead>
<%= simple_form_for student, url: staff_salary_path do |form| %>
    <%= form.simple_fields_for :salaries, url: staff_salary_path do |salary_form| %>
      <%= render 'salary_fields', f: salary_form %>
    <% end %>
  </table>
  <div class="links">
    <%= link_to_add_association "新增紀錄", form, :salaries, class: 'btn btn-md btn-green' %>
  </div>
  <hr>
  <%= link_to :back, class: 'btn btn-gray btn-md' do %>
    <p>
      <i class="fas fa-backward"></i>
      上一頁
    </p>
  <% end %>
  <%= form.button :submit, '儲存',class: 'btn btn-green btn-md' %>
<% end %>