<h3><%= student.name %>的工時</h3>
<%= simple_form_for student, url: staff_salary_path do |form| %>
  <%= form.simple_fields_for :salaries, url: staff_salary_path do |salary_form| %>
    <%= render 'salary_fields', f: salary_form %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "新增紀錄", form, :salaries, class: 'btn btn-sm btn-danger' %>
  </div>
  <hr>
  <%= link_to "上一頁", :back, class: 'btn btn-primary btn-xs' %>
  <%= form.button :submit, '儲存',class: 'btn btn-success btn-lg' %>
<% end %>