<h1 class="verticalspace">Wage Settlement</h1>

<%= form_tag(staff_salaries_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag "查詢", class: "btn btn-blue btn-md white-hover verticalspace"%>
<% end %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>學號</th>
      <th>姓名</th>
      <th>當月工時總和</th>
      <th>當月薪資總和</th>
      <th>編輯</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.number %></td>
      <td><%= link_to student.name, staff_salary_path(student.slug) %></td>
      <td><%= student.salaries.where(date: @beginning_of_month..@end_of_month).map{ |salary| salary.hr }.sum %> 時</td>
      <td><%= student.salaries.where(date: @beginning_of_month..@end_of_month).map{ |salary| salary.hourly_wage * salary.hr }.sum %> 元</td>
      <td><%= link_to "編輯", edit_staff_salary_path(student.slug), class: 'btn btn-org btn-sm' %></td>
      <td><%= link_to "刪除", staff_salary_path(student.slug), method: 'delete', class: 'btn btn-red btn-sm', data: { confirm: "確定要把 #{student.name} 從 #{Department.find(@department_id).name} 剔除嗎?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @students, theme: 'twitter-bootstrap-4', class:"my-page" %>
<%= link_to "回主選單", staff_root_path, class: 'btn btn-dark btn-md' %>
