<h1 class="verticalspace">Wage Settlement</h1>

<%= form_tag(staff_salaries_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag "查詢", class: "btn btn-blue btn-md white-hover verticalspace"%>
<% end %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>學號</th>
      <th>姓名</th>
      <th>當月工時總和</th>
      <th>當月薪資總和</th>
      <th>編輯</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.number %></td>
      <td><%= link_to student.name, staff_salary_path(student.slug) %></td>
      <td><%= student.salaries.this_month_salaries_hr_sum %> 時</td>
      <td><%= student.salaries.this_month_salaries_sum %> 元</td>
      <td><%= link_to "編輯", edit_staff_salary_path(student.slug), class: 'btn btn-success btn-sm' %></td>
      <td><%= link_to "刪除", staff_salary_path(student.slug), method: 'delete', class: 'btn btn-danger btn-sm', data: { confirm: "確定要把 #{student.name} 從 #{@department.name} 剔除嗎?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @students, theme: 'twitter-bootstrap-4', class:"my-page" %>
<%= link_to "首頁", staff_root_path, class: 'btn btn-blue btn-xs' %>
