<h1>新增薪資</h1>
<h3><%= @salary.user.name %> 學生</h3>
<%= simple_form_for :salary, url: staff_salaries_path, method: 'post', defaults: { user_id: @salary.user.id } do |f| %>
  <div class="form-inputs">
    <div class="row">
      <%= f.input :user_id, value: @salary.user.id, as: 'hidden' %>
      <div class="col-4">
       <%= f.input :date, label: '日期', required: true, autofocus: true, as: :date, html5: true  %>
      </div>
      <div class="col-4">
        <%= f.input :hr, label: '工時', required: true %>
      </div>
      <div class="col-4">
        <%= f.input :hourly_wage, label: '時薪', required: true %>
      </div>
    </div>
    <%= link_to "上一頁", :back, class: 'btn btn-primary btn-xs' %>
    <%= f.button :submit, '儲存', class: 'btn-success btn-lg' %>
  </div>
<% end %>