<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="pdf.scss">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:300,400,500,600,700,800,900|Noto+Sans+TC:100,300,400,500,700,900|Noto+Serif:400,700&display=swap" rel="stylesheet">
</head>

<h1 class="pdf-h1">工讀薪資明細</h1>

<table class="table table-sm pdf-table">
  <thead>
    <tr>
      <th>學號</th>
      <th>姓名</th>
      <th>當月工時總和</th>
      <th>當月薪資總和</th>
    </tr>
  </thead>
   <tbody>
    <% @students.uniq.each do |student| %>
    <tr>
      <td><%= student.number %></td>
      <td><%= student.name %></td>
      <td><%= salary_hr(student) %> 時</td>
      <td><%= salary_sum(student) %> 元</td>
    </tr>
    <% end %>
    </tbody>   
</table>

<h1 class="sign-h1">簽核</h1>

<table class="sign-table table table-sm pdf-table" >
  <thead>
    <tr>
      <th><p><%=@department.name%></p></th>
      <th><p>該處室主管</p></th>
      <th><p>會計事務處</p></th>
    </tr>
  </thead>
  <tbody>
    <tr class="sign-area">
      <td><p>簽核處</p></td>
      <td><p>簽核處</p></td>
      <td><p>簽核處</p></td>
    </tr>
  </tbody>
</table>

