<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
    <%#= javascript_include_tag wicked_pdf_asset_base64("number_pages") %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <%# <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:300,400,500,600,700,800,900|Noto+Sans+TC:100,300,400,500,700,900|Noto+Serif:400,700&display=swap" rel="stylesheet"> %>
</head>
<div class="wrap_pdf">
  <div class="pdf_brand_left">
    <p class="brand_cht">霍格華茲學院</p>
    <p class="brand_eng">Hogwarts School of Witchcraft and Wizardry</p>
  </div>
  <div class="pdf_brand_right">
    (02) 23315247<br>
    100台北市中正區衡陽路7號<br>
    No. 7, Hengyang Rd., Zhongzheng Dist.,<br>
    Taipei City 100, Taiwan<br>
  </div>
</div>
<p class="pdf_title_1">工讀薪資明細</p>
<p class="pdf_title_2">學號：<%= @salary.user.number %>&nbsp;&nbsp;&nbsp;&nbsp;姓名：<%= @salary.user.name %></p>
<table class="table table-hover table-sm pdf-table">
    <tr>
      <th style="width: 200px;">日期</th>
      <th style="width: 200px;">工時</th>
      <th style="width: 200px;">時薪</th>
      <th style="width: 200px;">合計</th>
    </tr>
  </thead>
  <tbody>


  <% @salary_all.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%Y-%m-%d")%></td>
      <td><%= salary.hr %></td>
      <td><%= salary.hourly_wage %></td>
      <td><%= salary.hr * salary.hourly_wage %></td>
    </tr>
  <% end %>
   
  </tbody>
</table>




