<table class="table table-sm">
  <thead>
    <tr>
      <th>編號</th>
      <th>姓名</th>
      <th>編輯</th>
      <th>剔除</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.number %></td>
      <td><%= link_to student.name, staff_salary_path(student.id) %></td>
      <td><%= link_to "編輯", edit_staff_salary_path(student.id), class: 'btn btn-success btn-sm' %></td>
      <td><%= link_to "刪除", staff_salary_path(student.id), method: 'delete', class: 'btn btn-danger btn-sm', data: { confirm: "確定要把 #{student.name} 從 #{Department.find(@department_id).name} 剔除嗎?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @students, theme: 'twitter-bootstrap-4' %>

<%= link_to "首頁", staff_salaries_path, class: 'btn btn-primary btn-xs' %>