<h1 class="verticalspace">個人薪資明細</h1>

<meta charset='utf-8' />
<%= wicked_pdf_stylesheet_link_tag "pdf" %>

<h4 class="verticalspace"><%= @salary.user.name %> 同學</h4>
<%= form_tag(staff_salary_path, method: :get) do %>
  <%= text_field_tag :search, "", placeholder: '請選擇月份', class: "datepicker col-lg-3", "data-provide" => "datepicker" %>
  <%= button_tag type: 'submit', class: "btn btn-blue btn-md white-hover verticalspace" do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>日期</th>
      <th>工時</th>
      <th>時薪</th>
      <th>試算</th>
    </tr>
  </thead>
  <tbody>
  <% @salary_all.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%Y-%m-%d") %></td>
      <td><%= salary.hr %></td>
      <td><%= salary.hourly_wage %></td>
      <td><%= money(salary) %></td>
    </tr>
  <% end %>
    <tr>
      <td>總計</td>
      <td><%= calculate_salary_hr %> 時</td>
      <td></td>
      <td><%= calculate_salary_sum %> 元</td>
    </tr>
  </tbody>
</table>

<%= link_to staff_salaries_path, class: 'btn btn-gray btn-md' do %>
  <p>
    <i class="fas fa-backward"></i>
    上一頁
  </p>
<% end %>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $('.datepicker').datepicker({
      language:'zh-TW',
      format: "yyyy-mm",
      viewMode: 'months',
      minViewMode: 'months',
      autoclose: true
    });    
  });
</script>