<h1 class="verticalspace">個人薪資明細</h1>
<h4><%= @salary.user.name %> 同學</h4>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>日期</th>
      <th>工時</th>
      <th>時薪</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
  <% @salary_all.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%Y-%m-%d") %></td>
      <td><%= salary.hr %></td>
      <td><%= salary.hourly_wage %></td>
      <td><%= salary.hr * salary.hourly_wage %></td>
    </tr>
  <% end %>
    <tr>
      <td>總計</td>
      <td><%= calculate_salary_hr %> 時</td>
      <td></td>
      <td><%= calculate_salary_sum %> 元</td>
    </tr>
  </tbody>
</table>
<%= link_to "上一頁", :back, class: 'btn btn-dark btn-md' %>
<%= link_to "列印", staff_salary_path(format: :pdf), class: 'btn btn-pdf btn-md',:form => {"data-type" => "pdf" }, target: "_blank" %>
