<h2 class="verticalspace3"><%= t("wage_slip")%></h2>

<meta charset='utf-8'/>
<%= wicked_pdf_stylesheet_link_tag "pdf" %>

<h4 class="verticalspace"><%= t("user_name")%>：<%= @salary.user.name %></h4><%= form_tag(staff_salary_path, method: :get) do %>
   <%= text_field_tag :search, "", placeholder: '請選擇月份', class: "datepicker col-lg-3", "data-provide" => "datepicker" %>
   <%= button_tag type: 'submit', class: "btn btn-blue btn-md white-hover verticalspace" do %>
     <i class="fas fa-search"></i>
   <% end %>
 <% end %>
<table class="table table-sm detail">
  <thead>
    <tr>
      <th class="d-date"><%= t("date")%></th>
      <th class="d-time"><%= t("hour")%></th>
      <th class="d-wage"><%= t("hourly_wage")%></th>
      <th class="d-pay"><%= t("payment")%></th>
    </tr>
  </thead>
  <tbody>
  <% @salary_all.each do |salary| %>
    <tr>
      <td class="d-date"><%= salary.date.strftime("%Y-%m-%d") %></td>
      <td class="d-time"><%= salary.hr %></td>
      <td class="d-wage"><%= salary.hourly_wage %></td>
      <td class="d-pay"><%= money(salary) %></td>
    </tr>
  <% end %>
    <tr>
      <td class="d-date"><%= t("total")%></td>
      <td class="d-time"><%= calculate_salary_hr %><%= t("hour_sum")%></td>
      <td class="d-wage"></td>
      <td class="d-pay"><%= calculate_salary_sum %><%= t("dollars")%></td>
    </tr>
  </tbody>
</table>

<%= link_to staff_salaries_path, class: 'btn btn-gray btn-md' do %>
  <p>
    <%= t("back")%>
  </p>
<% end %>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $('.datepicker').datepicker({
      language:'zh-TW',
      format: "yyyy-mm",
      viewMode: 'months',
      minViewMode: 'months',
      autoclose: true
    });    
  });
</script>