<!DOCTYPE html>
<html>
  <head>
    <title>Oh My Wage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png') %>

  </head>
<button type="button" id="BackTop" class="toTop-arrow"></button>
<script>
$(function(){
	$('#BackTop').click(function(){ 
		$('html,body').animate({scrollTop:0}, 800);
	});
	$(window).scroll(function() {
		if ( $(this).scrollTop() > 300 ){
			$('#BackTop').fadeIn(222);
		} else {
			$('#BackTop').stop().fadeOut(222);
		}
	}).scroll();
});
</script>
  <body>
    <%= render 'shared/frontend/navbar' %>
    <%= render 'shared/frontend/flash' if notice %>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p>TEL：(02) 1787-1687</p>
      <p>Email：ohmywage@ohmywage.com</p>
      <p>Address：5F., No. 7, Hengyang Rd., Zhongzheng Dist., Taipei City 100, Taiwan (R.O.C.)</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
