<!DOCTYPE html>
<html>
  <head>
    <title>Oh My Wage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png') %>
    <button type="button" id="BackTop" class="toTop-arrow"></button>
    <script>
    $(function(){
      $('#BackTop').click(function(){ 
        $('html,body').animate({scrollTop:0}, 800);
      });
      $(window).scroll(function() {
        if ( $(this).scrollTop() > 300 ){
          $('#BackTop').fadeIn(222);
        } else {
          $('#BackTop').stop().fadeOut(222);
        }
      }).scroll();
    });
    </script>
  </head>
  <body class="mymaintheme mybgimg">
    <%= render 'shared/frontend/navbar' %>
    <%= render 'shared/frontend/flash' if notice %>
    <div class="container">
      <%= yield %>
    </div>
<<<<<<< HEAD
    <div class="footerspace"></div>
    <%= render 'shared/frontend/footer' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
=======
    <footer>
    <address>
      <a href="tel:+886223315247">
        <p>TEL：(02) 2331-5247</p>
      </a>
      <a href="mailto:ohmywage@ohmywage.com">
      <p>Email : ohmywage@ohmywage.com</p>
      </a>
      <a href="https://ubin.io/TyZN7E">
      <p>Address：5F., No. 7, Hengyang Rd., Zhongzheng Dist., Taipei City 100, Taiwan (R.O.C.)</p>
      </a>
      </address>
    </footer>
>>>>>>> develop
  </body>
</html>
